.logo {
   padding-top: 24px;
   padding-bottom: 24px;

   color: #000;

   font-family: 'Raleway', sans-serif;
	@include fontWSL(700, 26, 1.19)
}

.logo.web {
   color: $accentColor;
}

.footer .logo {
   padding: 0;
}

.logo.studio {
   color: $primaryWhiteColor;
}