$primaryTextColor: #757575;
$titleTextColor: #212121;
$accentColor: #2196f3;
$primaryWhiteColor: #fff;
$secondaryBgColor: #f5f4fa;
$footerBgColor: #2f303a;
$iconsColor: #afb1b8;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$durationTiming: 250ms cubic-bezier(0.4, 0, 0.2, 1);
