.filters {
   display: flex;
   justify-content: center;
   gap: 8px;
   margin-bottom: 50px;
}

.filters__button {
   padding: 6px 22px;
   border-radius: 4px;
   background-color: $secondaryBgColor;
   color: $titleTextColor;

	@include fontWSL(500, 16, 1.62);

   transition: box-shadow $durationTiming, color $durationTiming,
      background-color $durationTiming;

		&:hover,
		&:focus {
			background-color: $accentColor;
			color: $primaryWhiteColor;
			box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
				0px 2px 2px rgba(0, 0, 0, 0.12);
			outline: transparent;
		}
}

