.projects {
   display: flex;
   gap: 30px;
   flex-wrap: wrap;
}

.projects__item {
   width: calc((100% - 30px * 2) / 3);

   transition: box-shadow $durationTiming;

	&:hover {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
			1px 4px 6px rgba(0, 0, 0, 0.16);
	}
}



.projects__link {
   transition: box-shadow $durationTiming;

		&:focus {
			display: block;
			outline: transparent;
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
				1px 4px 6px rgba(0, 0, 0, 0.16);
		}
}

.brdr-line {
   padding: 19px 23px;
   border: 1px solid #eeeeee;
   border-top: 0;
}

.project__title {
   margin-bottom: 4px;

   color: $titleTextColor;

   letter-spacing: 0.06em;
	@include fontWSL(null, 16, 2);
}

.project__text {
   color: $primaryTextColor;
   font-size: 16px;
   line-height: 1.88;
}

.thumb {
   position: relative;
   overflow: hidden;
}

.thumb__text {
   position: absolute;
   bottom: 0;
   right: 0;

   padding: 63px 24px;

   width: 100%;
   height: 100%;

   color: $primaryWhiteColor;
   background-color: rgba(33, 150, 243, 0.9);

   line-height: 1.56;
   font-size: 18px;

   visibility: hidden;

   transform: translateY(100%);
   transition: transform 500ms $timingFunction,
      visibility 500ms $timingFunction;
}

.projects__item:hover .thumb__text {
   transform: translateY(0);

   visibility: visible;

   transition: transform 500ms $timingFunction,
      visibility 500ms $timingFunction;
}